*{
    margin: 0px;
    padding: 0px;
}



#background {
    background-image: url(./Background.jpg);
    height: 120vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-self: baseline;
    align-items: center;
    padding: 0px 20px;
}

#background h1 {
    font-size: 50px;

}

#background h3 {
    font-size: 25px;
}

#social {
    background-image: url(./Social\ Background.png);
    width: 100vw;
    height: 20vh;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 200px, 200px, 0px, 0px;
    
}